@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.flex-row{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-row div{
    margin: .5em;
    padding: .5em;
}

.flex-row div label, .flex-row div input{
    font-size: 1.25em;
    padding: 5px;
    border-radius: 10px;
}

button{
    background-color: #fff;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 12px;
    font-size: 1.05em;
}

button:hover{
    background: rgb(232, 226, 226);
}

.errorMsgStyle{
    color: rgba(0, 0, 0, 0.568);
    background: linear-gradient(90deg,rgba(255, 0, 0, 0.637),rgba(255, 105, 180, 0.201),rgba(255, 0, 0, 0.637));
    padding: 15px;
    margin-top: 10px;
    border-radius: 15px;
}

.winnerMsgStyle{
    color: rgba(0, 0, 0, 0.568);
    background: linear-gradient(90deg,rgba(0, 128, 0, 0.617),rgba(144, 238, 144, 0.508),rgba(0, 128, 0, 0.542));
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 15px;

}